h1 {
  color: rgba(125, 20, 174);
}

h4 {
  color: white;
}

.section-header {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 4em;
}

.rows {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* Hero Section  */

.hero-image {
  width: 2000px;
  height: 900px;
}

#heroIntro {
  padding-bottom: 20px;
  font-size: 3em;
}

.hero-title {
  font-size: 7em;
}

.hero-subtitle {
  font-size: 5em;
}

.hero-text {
  margin-top: -700px;
  margin-bottom: 200px;
  color: white;
  text-align: center;
}

.hero-col {
  /* background-color: rgba(128, 128, 128, 0.6); */
  padding: 20px;
}

.hero-btn {
  background-color: rgba(125, 20, 174, 0.6) !important;
  border-color: rgba(125, 20, 174) !important;
  font-size: 2em !important;
  margin-top: 20px;
}
/* About Section */

.about-col {
  background-color: #f8f9fa;
  padding: 20px;
}

/* Skills Section */

.skills-section {
  /* background-color: rgba(128, 128, 128, 0.2); */
  display: flex;
}
.skills-container {
  margin: 50px 200px;
}

.skills-list {
  width: 20%;
  /* margin-left: 5px; */
}

.col .skills-icons {
  display: flex;
}

.skillsbtn-div {
  text-align: center;
}
.skills-btn {
  background-color: rgba(125, 20, 174, 0.8) !important;
  border-color: rgba(125, 20, 174) !important;
  font-size: 1.2em !important;
  margin-top: 20px;
}

/* Projects Section */

.project-flex {
  display: flex;
  justify-content: center;
}

.project-col {
  margin: 20px 200px;
}

.project-card {
  color: white;
}

.project-vid {
  margin-left: 15px;
}

.project-link {
  color: yellow;
}

/* Client Section */

.client-section {
  /* background-color: rgba(128, 128, 128, 0.3); */
  background-color: #f8f9fa;
  display: flex;
  /* justify-content: center; */
}

.client-list {
  width: 25%;
  margin: auto;
}

.client-container {
  margin: 50px 200px;
}

.col .client-logos {
  display: flex;
}

/* Blog Section */

.blog-section {
  margin: 0 auto;
  width: 50%;
}

.blog-card {
  padding: 2em !important;
  box-shadow: 5px 10px 10px 5px rgba(128, 128, 128, 0.5);
}

/* Contact Section */

a.social-icon {
  margin-left: 30px;
  float: right;
}
.social-svg-icon {
  fill: white !important;
}

.social-text {
  color: white;
}

.social-background {
  background-color: rgba(125, 20, 174);
  margin-top: 5em;
  margin-bottom: -5em;
  padding: 1.2em;
}
