h1 {
  color: purple;
}

h4 {
  color: white;
}

.section-header {
  margin-top: 10px;
  /* margin-bottom: 10px; */
  text-align: center;
}

.rows {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* Hero Section  */

.hero-image {
  width: 2000px;
  height: 900px;
}

.hero-text {
  margin-top: -700px;
  margin-bottom: 450px;
  color: white;
}

.hero-col {
  background-color: rgba(128, 128, 128, 0.6);
  padding: 20px;
}

/* About Section */

.about-col {
  padding: 20px;
}

/* Projects Section */

.project-col {
  background-color: rgb(125, 20, 174);
  box-shadow: 5px 10px rgba(70, 212, 254);
  color: white;
  border-right: solid rgba(255, 255, 255, 0.5);
}

.project-vid {
  margin-left: 15px;
}

.project-link {
  color: yellow;
}
